body{
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header{
  background:#2e7d32;
  color: white;
  padding: 15px;
  text-align: center;
}
nav{
  display: flex;
  justify-content: center;
  gap: 15px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}
nav a.active {
  background: #4caf50;
  border-radius: 5px;
}
.hero{
  background: linear-gradient(to right, #2e7d32, #66bb6a);
  color: white;
  padding: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
}
.cards{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.card{
  background: white;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.1);
}
form{
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
}
input, button{
  margin: 10px 0;
  padding: 10px;
}
@keyframes fadeIn{
  from {opacity: 0;}
  to {opacity: 1;}
}
@media(max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
nav{
  flex-direction: column;
}
}













/* Animation */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Responsive */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  nav {
    flex-direction: column;
  }
}
